In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [9]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1857,tt0177971,120000000,325756637,The Perfect Storm,George Clooney|Mark Wahlberg|Diane Lane|John C...,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.|Baltimore Spring Creek Production...,3/15/2000,5.9,2000
1354,tt0400497,50000000,66002004,Herbie Fully Loaded,Lindsay Lohan|Michael Keaton|Matt Dillon|Breck...,Angela Robinson,Start your engines...,"Maggie Peyton, the new owner of Number 53 - th...",101,Comedy|Family|Adventure|Fantasy|Romance,Walt Disney Pictures|Robert Simonds Productions,6/18/2005,5.2,2005
650,tt0450314,20500000,10089373,Punisher: War Zone,Ray Stevenson|Dominic West|Julie Benz|Colin Sa...,Lexi Alexander,Vengeance has a name,Waging his one-man war on the world of organiz...,102,Action|Crime,Lionsgate|MHF Zweite Academy Film|Marvel Knigh...,12/5/2008,5.5,2008
15,tt3460252,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/2015,7.4,2015
312,tt0971209,14000000,22852638,A Perfect Getaway,Milla Jovovich|Timothy Olyphant|Steve Zahn|Chr...,David Twohy,Welcome to paradise. Enter at your own risk.,"For their honeymoon, newlyweds Cliff and Cydne...",98,Thriller|Mystery|Adventure,Davis Entertainment|Relativity Media|Rogue|QED...,6/8/2009,6.1,2009

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [12]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [13]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [14]:
# тут пишем ваш код для решения данного вопроса:

data = pd.read_csv('movie_bd_v5.csv')

#используем метод sort_value для сортировки списка budget, a также учитываем сортировку от большего к меньшему
answer_1 = data.sort_values('budget', ascending = False)

#выводим первую строку, где и будет верный ответ
answer_1.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [18]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [16]:
# используем метод sort_value для сортировки списка runtime
# учитываем сортировку от большего к меньшему
answer_2 = data.sort_values('runtime', ascending = False)

# выводим первое значение, где будет верный ответ
answer_2.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [17]:
# второй вариант решения
data = pd.read_csv('movie_bd_v5.csv')

# фиксируем запись с максимальной длительностью
# добавлен более удобный вывод верного ответа
data[{'original_title', 'imdb_id'}].loc[data['runtime']==data['runtime'].max()]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [32]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [19]:
data = pd.read_csv('movie_bd_v5.csv')

# используем метод sort_value для сортировки списка runtime
# учитываем сортировку от меньшего к большему
answer_3 = data.sort_values('runtime', ascending = True)

# выводим первое значение
answer_3.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [27]:
answers['4'] = '2. 110'
# +

In [20]:
data = pd.read_csv('movie_bd_v5.csv')
data['runtime'].mean()

109.6585494970884

In [21]:
# второй вариант, применяем метод describe по списку runtime 
# строка mean означает среднее значение
data = pd.read_csv('movie_bd_v5.csv')
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 5. Каково медианное значение длительности фильмов?

In [28]:
answers['5'] = '1. 107'
# +

In [24]:
data = pd.read_csv('movie_bd_v5.csv')
data['runtime'].median()

107.0

In [25]:
# второй вариант, применяем метод describe по списку runtime 
# строка 50% означает медианное значение
data = pd.read_csv('movie_bd_v5.csv')
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [29]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# учитывая, что столбец profit не всегда нужен
# и то, что каждый новый ответ я начинаю с обращения к исходному df
# принято решение не выносить ничего в Предобработку
answers['6'] = '5. Avatar (tt0499549)'
# +

In [30]:
data = pd.read_csv('movie_bd_v5.csv')

# рассчитываем прибыль по заданной формуле и добавляем новый столбец
data['profit'] = data['revenue'] - data['budget']

# используем метод sort_value для сортировки списка profit, a также учитываем сортировку от большего к меньшему
answer_6 = data.sort_values('profit', ascending=False)

# выводим первое значение
answer_6.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [36]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [44]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

# используем метод sort_value для сортировки списка profit
# учитываем сортировку от большего к меньшему
answer_7 = data.sort_values('profit', ascending = True)

# выводим первое значение
answer_7.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [38]:
answers['8'] = '1. 1478'
# +

In [46]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

# используем метод простой фильтрации для вычисления прибыльных фильмов
data_profit = data[data['profit']>0]

# подсчитываем количество записей в новом датафрейме с помощью метода len
answer_8 = len(data_profit)
print(answer_8)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [40]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [47]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

# используем функцию query для фильтрации нужных параметров 
release_2008 = data.query('release_year==2008')

# во вновь созданном датафрейме фиксируем запись с макс. доходом
release_2008.loc[release_2008['profit']==release_2008['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [48]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [49]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

# используем функцию query для фильтрации 
answer_10 = data.query('release_year in ["2012", "2013", "2014"]')

# во вновь созданном датафрейме фиксируем запись с минимальным доходом
answer_10.loc[answer_10['profit']==answer_10['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [52]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = '3. Drama'
# +

In [50]:
data = pd.read_csv('movie_bd_v5.csv')

# используем метод str.cat для объединения всех строк по столбцу genres
# в качестве разделителя оставляем знак "|"
union = data.genres.str.cat(sep='|')

# создаем один большой массив по методу Series с разбивкой по жанрам
answer_11 = pd.Series(union.split('|'))

# посчитаем количество каждого жанра
answer_11.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [0]:
# можно сделать разделение через цикл
# а группировку сделать методом groupby
# и посчитать методом count
# мне этот код кажется громоздким
# и у меня юпитер очень долго думает

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [54]:
answers['12'] = '1. Drama'
# +

In [56]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']

# применяем лямбда-функцию для разделения
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
# разбиваем полученные данные по строчно
data = data.explode('genres')

# фиксируем данные с положительной прибылью
data = data.loc[data['profit']>0]

# считаем количество каждого жанра
answer_12 = data['genres'].value_counts()

display(answer_12)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [55]:
answers['13'] = '5. Peter Jackson'
# +

In [58]:
data = pd.read_csv('movie_bd_v5.csv')

# применяем лямбда-функцию для разделения
data['director'] = data['director'].apply(lambda x:x.split('|'))
# разбиваем полученные данные по строчно
data = data.explode('director')

# группируем данные по режиссерам и считаем суммарные сборы
# сортируем от большего к меньшему
answer_13 = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

display(answer_13)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [60]:
answers['14'] = '3. Robert Rodriguez'
# +

In [62]:
data = pd.read_csv('movie_bd_v5.csv')

# применяем лямбда-функцию для разделения по жанрам
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
# разбиваем полученные данные по строчно
data = data.explode('genres')

# аналогичное делаем для директоров
data['director'] = data['director'].apply(lambda x:x.split('|'))
data = data.explode('director')

# фильтруем данные по жанру Action
data_filter = data.query('genres=="Action"')

# считаем количество Action по каждому директору
answer_14 = data_filter['director'].value_counts()

display(answer_14)

Robert Rodriguez                    9
Paul W.S. Anderson                  7
Michael Bay                         7
Ridley Scott                        6
Antoine Fuqua                       6
                                   ..
Gary Shore                          1
James Cameron                       1
Florian Henckel von Donnersmarck    1
MÃ¥ns MÃ¥rlind                      1
Barry Levinson                      1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [64]:
answers['15'] = '3. Chris Hemsworth'
# +

In [65]:
data = pd.read_csv('movie_bd_v5.csv')

# делим и разбиваем данные по строчно по актерам
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data = data.explode('cast')

# фильтруем 2012
data_cast = data.query('release_year==2012')

# считаем макс. суммарные сборы за 2012 год по каждому актеру
answer_15 = data_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

display(answer_15)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [67]:
answers['16'] = '3. Matt Damon'
# +

In [68]:
data = pd.read_csv('movie_bd_v5.csv')

# фксируем данные с бюджетом выше среднего
data = data.loc[data['budget']>data['budget'].mean()]

# делим и разбиваем данные по строчно по актерам
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data = data.explode('cast')

# считаем
answer_16 = data['cast'].value_counts()

display(answer_16)

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
                  ..
Liam McIntyre      1
Walton Goggins     1
Nick Swardson      1
Jorma Taccone      1
Ayelet Zurer       1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [69]:
answers['17'] = '2. Action'
# +

In [70]:
data = pd.read_csv('movie_bd_v5.csv')

# делим и разбиваем данные по строчно по жанрам
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data = data.explode('genres')

# делим и разбиваем данные по строчно по актерам
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data = data.explode('cast')

data_nicolas = data.query('cast=="Nicolas Cage"')

answer_17 = data_nicolas['genres'].value_counts()

display(answer_17)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [72]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [73]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

# делим и разбиваем данные по строчно по кинокомпаниям
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')

data_paramount = data.query('production_companies=="Paramount Pictures"')

# сортируем от меньшего к большему
answer_18 = data_paramount.sort_values('profit', ascending = True)

answer_18.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [74]:
answers['19'] = '5. 2015'
# +

In [75]:
data = pd.read_csv('movie_bd_v5.csv')

# группируем года по суммарным сборам
# и сортируем от большего к меньшему
answer_19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

display(answer_19)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [77]:
answers['20'] = '1. 2014'
# +

In [78]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

# делим и разбиваем данные по строчно по кинокомпаниям
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')

# формируем датафрейм по комапниям в которые входит набор Warner Bros
data_warner = data[data['production_companies'].str.contains('Warner Bros')]

# применяем groupby для подсчета прибыли по годам и сортируем даные
answer_20 = data_warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

display(answer_20)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [82]:
answers['21'] = '4. Сентябрь'
# +

In [83]:
data = pd.read_csv('movie_bd_v5.csv')

# делим данные в столбце release_date
data['release_date'] = data['release_date'].apply(lambda x:x.split('/'))

# c помощью лямбда-функции выделяем первое число, что является месяцем
data['month'] = data['release_date'].apply(lambda x:x[0])

# формируем сводную таблицу, где столбцы это  месяцы
# по imdb_id считаем количество
answer_21 = data.pivot_table(columns = 'month',\
        index = 'original_title', values = 'imdb_id', aggfunc = 'count')

# суммируем и сортируем данные в сводной таблице
answer_21.sum().sort_values(ascending = False)

month
9     227.0
12    190.0
10    186.0
8     161.0
3     156.0
4     149.0
6     147.0
11    146.0
7     142.0
5     140.0
2     135.0
1     110.0
dtype: float64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [84]:
answers['22'] = '2. 450'
# +

In [86]:
data = pd.read_csv('movie_bd_v5.csv')

# делим данные в столбце release_date
data['release_date'] = data['release_date'].apply(lambda x:x.split('/'))

# c помощью лямбда-функции выделяем первое число, что является месяцем
data['month'] = data['release_date'].apply(lambda x:x[0])

# меняем строчные данные на численные
data['month'] = data['month'].apply(int)

# считаем количество по летним месяцам
answer_22 = len(data.loc[data['month'].isin([6, 7 ,8])])

display(answer_22)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [87]:
answers['23'] = '5. Peter Jackson'
# +

In [88]:
data = pd.read_csv('movie_bd_v5.csv')

# применяем методы по аналогии с 22 вопросом
data['director'] = data['director'].apply(lambda x:x.split('|'))

data['release_date'] = data['release_date'].apply(lambda x:x.split('/'))

data['month'] = data['release_date'].apply(lambda x:x[0])

# фильтруем по зимним месяцам
data_23 = data.query('month in ["12", "1", "2"]')

data_23['director'].value_counts()

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [91]:
answers['24'] = '5. Four By Two Productions'
# +

In [90]:
data = pd.read_csv('movie_bd_v5.csv')

# считаем количество символов в столбцу названий фильмов
data['length'] = data['original_title'].apply(lambda x:len(x))

# делим и разбиваем данные по строчно по кинокомпаниям
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')

# группируем по среднему количеству символов
# функция index[0] выводит первое значение, что и является ответом
answer_24 = data.groupby(['production_companies'])['length'].mean().sort_values(ascending=False).index[0]

display(answer_24)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [94]:
answers['25'] = '3. Midnight Picture Show'
# +

In [93]:
data = pd.read_csv('movie_bd_v5.csv')

# формируем новый столбец с количеством слов в описании
data['words'] = data['overview'].apply(lambda x: len(x.split(' ')))

# делим и разбиваем данные по строчно по кинокомпаниям
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data = data.explode('production_companies')

# группируем по среднему количеству слов
# функция index[0] выводит первое значение, что и является ответом
answer_25 = data.groupby(['production_companies'])['words'].mean().sort_values(ascending=False)

display(answer_25)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [95]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [96]:
data = pd.read_csv('movie_bd_v5.csv')

# используем фильтрацию с помощью квантилей
answer_26 = data.query('vote_average >= vote_average.quantile(0.99)')

display(answer_26)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,11/26/2014,7.8,2014
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,9/11/2009,7.8,2009
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,12/23/2009,7.8,2009
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2001,7.8,2001
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,9/18/2013,7.8,2013
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,7.8,2013
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,7.8,2006
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/2004,7.8,2004
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,12/28/2007,7.8,2007
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000

In [100]:
# второй вариант ответа на вопрос 26
data = pd.read_csv('movie_bd_v5.csv')

best = data.sort_values(by='vote_average').\
        tail(int(data.original_title.count()/100)).original_title

# формируем список лучших фильмов
answer = best.tolist()

print(answer)

['The Theory of Everything', 'The Lord of the Rings: The Two Towers', 'There Will Be Blood', 'Mr. Nobody', '12 Years a Slave', 'The Pianist', 'Gone Girl', 'Memento', 'Guardians of the Galaxy', 'Inception', 'The Wolf of Wall Street', 'The Grand Budapest Hotel', 'The Lord of the Rings: The Return of the King', 'Room', 'Interstellar', 'Inside Out', 'The Imitation Game', 'The Dark Knight']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [98]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

In [101]:
import itertools
import collections
from collections import Counter

data = pd.read_csv('movie_bd_v5.csv')

# делим данные по актерам
data['cast'] = data['cast'].apply(lambda x:x.split('|'))

# для формирования столбца с парами актеров используем инструмент сочетания в itertools
data['pairs'] = data['cast'].apply(lambda y: list(itertools.combinations(y, 2)))

# разбиваем эти данные по строчно
data_27 = data.explode('pairs')

# считаем и выводим пять макс. сочетаний
collections.Counter(data_27['pairs']).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [102]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [103]:
# и убедиться что ни чего не пропустил)
len(answers)

27